/* ===================================================================== */
/* Devices */
/*

 Mobile Devices (0px to 479px)
@media (max-width: 480px) {}

Tablet Devices (480px - 767px) 
@media (max-width: 768px) {}

Laptop Devices (768px - 1023px) 
@media (max-width: 1024px) {}

Large Desktop Devices (1200px+)
@media (max-width: 1200px) {}

/* ===================================================================== */




/* ===================================================================== */
/* Header Notice bar & Navbar Media */
/* ===================================================================== */
@media (max-width: 1200px) {}


@media (max-width: 992px) {
  .navmenu {
    display: none;
    flex-direction: column;
    background: #111;
    /* dark background for mobile */
    position: absolute;
    top: 6rem;
    /* below navbar */
    right: 0;
    width: 20rem;
    padding: 1rem;
    z-index: 12;
  }

  .navmenu.active {
    display: flex;
  }

  .hamburger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background: none;
    border: none;
  }

  .hamburger span {
    width: 2rem;
    height: 0.3rem;
    background: #fff;
  }
}

@media (max-width: 600px) {
  .navmenu {
    display: none;
    flex-direction: column;
    background: #111;
    /* dark background for mobile */
    position: absolute;
    top: 6rem;
    /* below navbar */
    right: 0;
    width: 20rem;
    padding: 1rem;
  }

  .navmenu.active {
    display: flex;
  }

  .hamburger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background: none;
    border: none;
  }

  .hamburger span {
    width: 2rem;
    height: 0.3rem;
    background: #fff;
  }
}


/* ===================================================================== */
/* About Section Media */
/* ===================================================================== */
@media (max-width: 76.8rem) {
  #about .container {
    padding-top: 6.4rem;
    flex-direction: column-reverse;
    text-align: center;
  }

  #about .section-img {
    width: 100%;
    margin: 0 4rem;
  }

  #about .section-heading {
    width: 100%;
  }

  #about .section-heading .section-title,
  #about .section-heading .floating-title {
    text-align: center;
  }
}

@media (max-width: 48rem) {
  #about .container {
    flex-direction: column-reverse;
    gap: 1.6rem;
  }

  #about .section-img {
    width: 100%;
    margin: 0 4rem;
  }

  #about .container .section-heading {
    max-width: 100%;
  }

  #about .section-heading .section-title {
    font-size: 2.4rem;
  }

  #about .section-heading .floating-title {
    font-size: 1.2rem;
  }
}

/* ===================================================================== */
/* Project Section Media */
/* ===================================================================== */
@media (max-width: 76.8rem) {
  #projects .container .projects-content {
    max-width: 100%;
    gap: 1.6rem;
  }

  #projects .container .projects-content .project-item {
    justify-content: center;
    width: 100%;
  }
}

/* ===================================================================== */
/* Team Section Media */
/* ===================================================================== */

@media (max-width: 48rem) {
  #team .container .team-content {
    flex-direction: column;
  }

  #team .container .team-item {
    width: 100%;
    gap: 1.6rem;
  }

  #projects .container .projects-content .project-item {
    justify-content: center;
    width: 100%;
  }
}

/* ===================================================================== */
/* Contact Section Media */
/* ===================================================================== */

@media (max-width: 48rem) {
  #contact {
    padding: 0 1rem;
  }
}

/* ===================================================================== */
/* Middle Section Media */
/* ===================================================================== */

@media (max-width: 48rem) {
  .middle-section h4 {
    font-size: 3.2rem;
  }
}