/* SERVICES SECTION Start */

#services .service-box {
  /* CSS Layout */
  display: flex;
  justify-content: center;
  gap: 4.4rem;

  position: relative;

  overflow: hidden;
}

#services .service-item {
  /* color */
  background-color: #292c2e;

  /* box-model */
  padding: 3.5rem;
  width: 40rem;
  border-radius: 0.8rem;

  /* CSS Layout */
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.4rem;

  min-width: 45%;
}

#services .service-item-header {
  /* CSS Layout */
  display: flex;
  justify-content: space-between;
  gap: 3rem;

  align-items: center;
}

#services .service-item-header .service-icon {
  /* color */
  background-color: #181818;
  color: #fff;

  /* box-model */
  width: 6rem;
  padding: 1.2rem;
  border-radius: 0.8rem;
}

#services .service-item-header .service-icon img {
  /* color */
  color: #fff;

  /* box-model */
  width: 100%;
  height: auto;
}

#services .service-item-header .service-item-heading {
  /* font */
  font-size: 2.4rem;
  font-weight: 700;
  color: #ccc8c2;
}

#services .service-item-content {
  /* color */
  background-color: #181818;

  /* box-model */
  padding: 2.4rem;
  border-radius: 0.8rem;
}

#services .service-item-content h4 {
  /* font */
  font-size: 1.8rem;
  font-weight: 700;
  color: #fff;
}

#services .service-item-content p {
  /* color */
  color: #d4f3fd;

  /* font */
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: capitalize;

  /* box-model */
  padding: 1.2rem 0 2rem;
  border-radius: 0.8rem;
}

.service-item-content button {
  /* color */
  background-color: transparent;

  /* font */
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: capitalize;
  text-decoration: none;

  /* box-model */
  padding: 1.2rem 0;
  border: none;
}

.service-item-content a {
  text-decoration: none;
  color: var(--primary-color);
}

.service-item-content a:hover,
.service-item-content a:focus-visible {
  color: var(--hover-color);
  transition: var(--transition);
}

#services .slider-controls {
  /* box-model */
  width: 100%;
  max-width: 136rem;
  padding: 0.8rem;

  /* CSS Layout */
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* position */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#services .slider-btn-prev {
  /* position */
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
}

#services .slider-btn-next {
  /* position */
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}

#services .slider-btn-prev,
#services .slider-btn-next {
  /* color */
  background-color: transparent;
  color: var(--hover-color);

  /* box-model */
  padding: 0.4rem;
  border: 0.1rem solid var(--hover-color);
  border-radius: 100rem;

  /* font */
  font-size: 1.6rem;
  font-weight: 600;

  /* CSS Layout */
  cursor: pointer;

  /* animation */
  transition: var(--transition);
}

#services .slider-btn-prev:hover,
#services .slider-btn-next:hover {
  background-color: var(--hover-color);
  color: #fff;
  /* transform: translateY(-1px); */
}

.service-box {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.service-carousal-box {
  overflow: hidden;
}

.service-carousal-viewport {
  display: flex;
  justify-content: center;
  gap: 2.4rem;
  transition: transform 0.5s ease;
}

/* Services Section End */

/* *************************************************************************************** */

/* Projects Section Start */
#projects {
  background-color: #272727;
}

#projects .container .projects-content {
  display: flex;
  justify-content: center;
  gap: 2.4rem;
  flex-wrap: wrap;
  border-radius: 0.8rem;
}

#projects .container .project-item {
  /* background image */
  background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url("../Images/Projects/Lasaco_LA-SPACE_G+10/1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  /* sizing */
  width: 30rem;
  aspect-ratio: 4 / 5;
  /* 1.25 height ratio */
  padding: 2.4rem;
  border-radius: 0.8rem;

  /* positioning */
  position: relative;
}

#projects .container .item-02 {
  background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url("../Images/Projects/Lasaco_LA-SPACE_G+10/2.jpg");
}

#projects .container .item-03 {
  background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url("../Images/Projects/Lasaco_LA-SPACE_G+10/3.jpg");
}

#projects .container .item-04 {
  background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.5)),
    url("../Images/Projects/Lasaco_LA-SPACE_G+10/4.jpg");
}

#projects .container .project-item .project-item-content {
  /* color */
  background-color: rgba(0, 0, 0, 0.7);

  /* box-model */
  max-height: 50%;
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;

  /* CSS Layout */
  display: flex;
  flex-direction: column;
  gap: 1rem;

  /* position */
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1.2rem;
}

#projects .container .project-item .project-item-content .project-btn {
  /* color */
  background-color: transparent;
  color: white;

  /* font */
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;

  /* box-model */
  padding: 1rem 0;
  border: 0.1rem solid var(--hover-color);
  border-radius: 0.8rem;
  margin-top: 1.4rem;
}

/* Project Section End */

/* ***************************************************************************************** */

/* Team Section Start */

.team-content {
  display: flex;
  gap: 2.4rem;
}

#team .team-item {
  background-color: #252525;
  /* box-model */
  width: 30%;
  padding: 1.2rem;
  border-radius: 0.8rem;
}

#team .team-item img {
  border-radius: 0.8rem;
}

#team .team-item .team-item-text {
  padding: 1.2rem;
  border-radius: 0.8rem;
}

#team .team-item .team-item-text .member-name {
  font-size: 1.8rem;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.9);
}

#team .team-item .team-item-text .member-position {
  font-size: 1.6rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 1rem;
}

#team .team-item .team-item-text .member-description {
  font-size: 1.4rem;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 1.2rem;
}

#team .team-item .team-item-text .member-social {
  display: flex;
  gap: 0.8rem;
}

#team .team-item .team-item-text .member-social a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1.6rem;
  font-weight: 600;
  text-decoration: none;
  transition: var(--transition);
}

#team .team-item .team-item-text .member-social a:hover,
#team .team-item .team-item-text .member-social a:focus-visible {
  color: var(--hover-color);
  transition: var(--transition);
}

/* Team Section End */

/* Contact Section Start */

#contact {
  background-color: rgb(20, 20, 20);
}

#contact .container {
  padding: 6rem 0;
}

#contact .container .company-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 4.2rem;
}

/* #contact .container .company {
  width: 40%;
} */

#contact .container .company {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 15rem;
}

#contact .container .newsletter {
  width: 60%;
}

#contact .company .company-img {
  align-items: center;
  width: 90%;
}

#contact .company .company-content h4 {
  margin-top: 1.6rem;
  font-size: 1.6rem;
}

/* #contact .container .newsletter {
  width: 60%;
} */
#contact .newsletter p {
  font-size: 2.4rem;
}

#contact .newsletter form input {
  padding: 0.8rem 1.2rem;
  border-radius: 0.8rem;
  font-size: 1.4rem;
  margin-top: 1.2rem;
}

#contact .social-links {
  background-color: rgba(82, 82, 82, 0.3);
  padding: 0.8rem;
  border-radius: 0.8rem;
  font-size: 1.4rem;

  display: flex;
  gap: 1.2rem;
}

/* Contact Section End */

footer p {
  background-color: black;
  padding: 0.8rem 0;
  font-size: 1.4rem;
  text-align: center;
}